[general]
import = [
  "~/.config/alacritty/tokyonight_night.toml"
]

[cursor.vi_mode_style]
shape = "Block"
blinking = "On"

[env]
TERM = "xterm-256color"

[terminal.shell]
program = "/usr/bin/fish"

[keyboard]
bindings = [
  {action = "ToggleViMode", key = "Return", mods = "Control|Shift"},
  # Unbind default vi mode
  {action = "ReceiveChar", key = "Space", mods = "Control|Shift"}
]

[[hints.enabled]]
command = "xdg-open"
hyperlinks = true
post_processing = true
persist = false
mouse.enabled = true
binding = { key = "O", mods = "Control|Shift" }
regex = "(mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"


[[hints.enabled]]
command = "wl-copy"
hyperlinks = false
post_processing = true
persist = false
mouse.enabled = true
binding = { key = "X", mods = "Control|Shift" }
regex = "(~?/?[\\w\\-\\.]+)*(/[\\w\\-\\.]+)+\\.[a-zA-Z0-9]+"

[[hints.enabled]]
command = "wl-copy"
hyperlinks = false
post_processing = true
persist = false
mouse.enabled = true
binding = { key = "N", mods = "Control|Shift" }
regex = "\\d+"

[[hints.enabled]]
command = "wl-copy"
hyperlinks = false
post_processing = true
persist = false
mouse.enabled = true
binding = { key = "M", mods = "Control|Shift" }
regex = "0x[0-9a-fA-F]+"

[[hints.enabled]]
command = "wl-copy"
hyperlinks = false
post_processing = true
persist = false
mouse.enabled = true
binding = { key = "<", mods = "Control|Shift" }
regex = "(?:^|[^0-9a-fA-F])([0-9a-fA-F]{7,40})(?:[^0-9a-fA-F]|$)"

[scrolling]
history = 100000

[font]
size = 12.0

[font.normal]
family = "Iosevka Term"
style = "Regular"
