format = """
$username\
$hostname\
$localip\
$shlvl\
$singularity\
$kubernetes\
$directory\
$vcsh\
$fossil_branch\
$fossil_metrics\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
$pijul_channel\
$docker_context\
$package\
$c\
$cmake\
$cobol\
$daml\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$fennel\
$gleam\
$golang\
$guix_shell\
$haskell\
$haxe\
$helm\
$java\
$julia\
$kotlin\
$gradle\
$lua\
$nim\
$nodejs\
$ocaml\
$opa\
$perl\
$php\
$pulumi\
$purescript\
$python\
$quarto\
$raku\
$rlang\
$red\
$ruby\
$rust\
$scala\
$solidity\
$swift\
$terraform\
$typst\
$vlang\
$vagrant\
$zig\
$buf\
$nix_shell\
$conda\
$meson\
$spack\
$memory_usage\
$aws\
$openstack\
$azure\
$nats\
$direnv\
$env_var\
$mise\
$crystal\
$custom\
$sudo\
$fill\
$cmd_duration\
$time\
$line_break\
$jobs\
$battery\
$status\
$os\
$container\
$netns\
$shell\
$character"""

[fill]
symbol = ' '

[git_status]
disabled = false
format = '([$staged](bright-green)[$modified](bright-red)[$untracked](white))'
style = "bright-red"
ahead = "⇡${count} "
behind = "⇣${count} "
diverged = "⇕${count} "
conflicted = "=${count} "
deleted = "✘${count} "
renamed = "»${count} "
untracked = "(\\[+${count}\\]) "
modified = "(\\[!${count}\\]) "
staged = "(\\[*${count}\\]) "
stashed = ''

[time]
disabled = false
format = '[\[ $time \]]($style) '
time_format = '%T'
style = "bold white"

[status]
format = '[\[$common_meaning$signal_name: $int\]]($style) '
disabled = false

[directory]
truncate_to_repo = false
style = "cyan"

[dotnet]
disabled = true

[cmake]
disabled = true

[c]
disabled = true
