/*
 * Dim Screen
 *
 * Dims the entire screen to 10% brightness.
 */

precision highp float;
varying vec2 v_texcoord;
uniform sampler2D tex;

void main() {
    vec4 pixColor = texture2D(tex, v_texcoord);

    // Dim to 10% by multiplying RGB channels by 0.1
    pixColor.rgb *= 0.1;

    gl_FragColor = pixColor;
}

// vim: ft=glsl
